
Get_involved/1_Beginner/.ipynb_checkpoints/1_Jupyter_notebook_Python_and_Applied_Thermodynamics-checkpoint.ipynb

Get_involved/1_Beginner/.ipynb_checkpoints/sympy testing summation and derivatives with them-checkpoint.ipynb

Get_involved/1_Beginner/.ipynb_checkpoints/2_numpy_and_scipy_and_how_to_get_the_saturation_point_from_a_cubic_EoS-checkpoint.ipynb
